<div
  class="bg-gray-900 w-max py-4 px-8 h-screen shadow-lg border-r border-gray-800 select-none rounded-r-lg"
>
  <div class="flex flex-col items-center mt-8">
    <img
      src="https://placehold.co/160x160"
      alt="Logo"
      class="w-32 h-32 rounded-full mb-4"
    />
    <p class="text-white text-2xl font-bold">UD MEDIA SARPAS</p>
  </div>

  <ul class="mt-4 space-y-2">
    <li
      *ngFor="let item of sidebarItem"
      [class]="
        'py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-300' +
        (router.url.includes(item.link) ? ' bg-gray-700' : '')
      "
    >
      <a [href]="item.link" class="text-white flex items-center space-x-2">
        <mat-icon [fontIcon]="item.icon" />
        <span>{{ item.name }}</span>
      </a>
    </li>
    <li class="py-2 px-4 rounded-lg hover:bg-gray-700 transition duration-300">
      <div
        class="text-white flex items-center space-x-2"
        (click)="handleLogout()"
      >
        <mat-icon fontIcon="exit_to_app" />
        <span>Keluar</span>
      </div>
    </li>
  </ul>
</div>
